@media (max-width:1169px) {
    .pageWidth{
        width: auto;
        padding: 0px 10px;
    }
}
@media (max-width:1040px) {
    .contact-add::after{
        display: none;
    }
}
@media (max-width:900px) {
    .service-left{
        float: none;
        width: 100%;
    }
    .service-list {
        float: left;
    }
    .service-right img{
        display: block;
        right: 0;
    }
    .panel-left{
        float: none;
        width: 100%;
    }
    .panel-right{
        float: none;
        width: 70%;
        margin: 0 auto;
    }
    .panel-right img{
        margin-top: 0;
    }
    .menu ul li a{
        margin: 0 4px;
    }
    .contact-add{
        width: 50%;
    }
}
@media (max-width:800px) {
    .career:after{
        display: none;
    }
    .menu ul li a{
        margin: 0 1px;
    }
    .contact_form{
        width: 100%;
        float: none;
    }
    .contact_form.career{
        padding-left: 0;
    }
    .contact_form.career{
        margin-bottom: 30px;
    }
	.contact_form ul li select{
		width: 90%;
	}
	.prepend-icon.iselect i{
		width: 10%;
	}
}
@media (min-width:768px) {
    .menu {
        display: block!important;
    }
}
@media (max-width:767px) {
    .sub-menu, .sticky.sub-menu {
        border: 0;
    }
    .sub-menu:after {
        display: none;
    }
    .icon_menu {
        width: 35px;
        height: 30px;
        position: absolute;
        right: 12px;
        top: 22px;
        cursor: pointer;
        display: block;
        z-index: 999;
        border: 1px solid #fff;
        border-radius: 4px;
    }
    .icon_menu-first, .icon_menu-mid, .icon_menu-last {
        width: 22px;
        height: 2px;
        background-color: #fff;
        margin: 6px auto;
        transition: 0.4s;
    }
    .change .icon_menu-first {
        -webkit-transform: rotate(-45deg) translate(-6px, 6px);
        transform: rotate(-45deg) translate(-6px, 6px);
    }
    .change .icon_menu-mid {
        opacity: 0;
    }
    .change .icon_menu-last {
        -webkit-transform: rotate(45deg) translate(-5px, -5px);
        transform: rotate(45deg) translate(-5px, -5px);
    }
    .sticky {
        position: absolute!important;
    }
    .menu {
        display: none;
        z-index: 99;
        width: 100%;
        position: absolute;
        top: 72px;
        right: 0;
        left: 0;
        border-top: 1px solid rgba(0,0,0,0.1);
    }
    .menu ul li a.active, .sticky .menu ul li a.active, .menu ul ul li a.active, .sticky .menu ul ul li a.active {
        color: #fff!important;
        background-color: #435196;
    }
    .menu ul ul li a:hover, .menu ul ul li a:hover span, .sticky .menu ul ul li a:hover {
        color: #fff!important;
    }
    .menu ul ul li a, .sticky .menu ul ul li a, .menu ul ul li a span {
        border-left: 0;
        color: #435196;
    }
    .menu ul ul li a:hover, .sticky .menu ul ul li a:hover, .menu ul ul li a:hover i {
        padding-left: 30px;
        background-color: #ef9a49;
        color: #fff;
    }
    .sticky .menu ul li a:hover {
        background-color: #ef9a49;
        color: #fff;
        box-shadow: none;
    }
    .menu ul ul li a:hover span, .menu ul ul li a span {
        padding-left: 0px;
    }
    .menu ul li {
        float: none;
    }
    .menu ul li a, .sticky .menu ul li a {
        margin: 0;
        color: #fff;
        background-color: #349fdc;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding: 13px;
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease;
    }
    .menu ul li a:after {
        display: none;
    }
    .menu ul li a:hover {
        background-color: #EF9A49;
        color: #fff;
        box-shadow: none;
    }
    .menu ul ul li {
        border-bottom: none!important;
    }
    .menu ul li a i {
        display: none;
    }
    .menu ul ul li a, .sticky .menu ul ul li a {
        padding: 10px 30px;
        color: #0C7DBE!important;
    }
    .menu ul ul, .sticky .menu ul ul {
        box-shadow: none;
    }
    .menu ul li:hover ul {
        display: block;
        opacity: 1;
        top: 0;
        visibility: visible;
    }
    .menu ul li ul, .sticky .menu ul li ul {
        position: static;
        opacity: 1!important;
        width: 100%!important;
        display: block;
        transition: 0;
        top: 0;
        visibility: visible;
    }
    .accordion {
        cursor: pointer;
        width: 100%;
        outline: none;
        transition: all 0.4s ease-in-out;
        z-index: 999;
        position: absolute;
        right: 0;
        top: 0;
        height: 40px;
        width: 40px;
        background-color: #0c7dbe;
        border-left: 1px solid #0c7dbe;
        display: block;
    }
    .accordion:after {
        content: '\e61a';
        font-size: 20px;
        color: #fff;
        float: right;
        margin-right: 10px;
        margin-top: 14px;
        font-family: "themify";
        font-weight: 600;
    }
    .accordion.active:after {
        content: "\e622";
        font-weight: 600;
    }
    .sub-menu {
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: 0.6s ease-in-out;
        opacity: 0;
    }
    .sub-menu.show {
        opacity: 1;
        max-height: 500px;
        z-index: 99;
        overflow: hidden;
        visibility: visible;
        display: block;
    }
    .service-right{
        display: none;
    }
    .differentiator ul li{
        width: 28%;
        margin: 2.5%;
    }
}
@media (max-width:640px) {
    .differentiator ul li{
        width: 45%;
    }
}
@media (max-width:600px) {
    .service-list {
        float: none;
        text-align: center;
    }
    .service-list ul li{
        float: none;
        margin: 10px auto;
        border-right: 0;
    }
    .panel-right{
        width: 100%;
    }
    .left-foot, .right-foot{
        float: none;
        margin: 0 auto;
    }
    .right-foot{
        margin-top: 10px;
    }
    .our-company ul.list{
        float: none;
        width: 100%;
        padding-top: 0;
    }
    .our-company.bg-none .panel-header h2{
        margin-bottom: 20px;
    }
	.contact_form ul li select{
		width: 91%;
	}
	.prepend-icon.iselect i{
		width: 9%;
	}
    .contact-add{
        width: 100%;
        border-bottom: 1px solid #e1e1e1;
    }
}
@media (max-width:480px) {
    .contact_form ul li{
        width: 100%;
        margin-right: 0;
    }
}
@media (max-width:400px) {
    .differentiator ul{
        padding-top: 10px;
    }
    .differentiator ul li{
        width: 100%;
        float: none;
        margin: 20px 0;
    }
}
@media (max-width:360px) {
    .contact_form ul li select{
        width: 88%;
    }
    .prepend-icon.iselect i{
        width: 12%;
    }
}